@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --cream: #ECE5DD;
  --cream-10: rgba(236, 229, 221, .1);
  --cream-30: rgba(236, 229, 221, .3);
  --cream-50: rgba(236, 229, 221, .5);
  --green: #C9FF77;
  --red: #E54125;

  --accent: var(--green);
  --primary-typeface: "Instrument Serif";
  --secondary-typeface: "DM Mono";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--cream);
  background: var(--black);
  font-size: 1rem;
  text-underline-offset: 24%;
}


main {
 /* flex: 1; */
}
footer {
  /*flex: 0; */
  margin-top: auto;
}
  

button {
  height: 4.5rem;
  border-radius: 4.5rem;
  padding: 0 2.5rem;
  width: 100%;
  transition: all 100ms;
}

button.primary {
  background-color: var(--accent);
  color: var(--black);
}

button.secondary {
  background-color: var(--cream-30);
  color: var(--cream);
}

button.icon {
  width: auto;
  padding: 0;
}

@media (hover: hover) {
  button:hover {
    opacity: 1;
    border-radius: .5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-typeface);
  line-height: 100%;
}

h1 {
  font-size: 3.5rem; /* 56 */
}

h2 {
  font-size: 2.5rem; /* 40 */
}

h3 {
  font-size: 1.5rem; /* 24 */
}

h5 {
  font-size: 1.125rem; /* 18 */
}

p {
  font-size: .74rem;
}

input {
  height: 4.5rem;
  border-radius: .5rem;
  width: 100%;
  padding: 0 1.5rem;
  border: 1px var(--cream-30) solid;
  background-color: transparent;
  text-align: center;
  text-overflow: ellipsis;
  transition: all 5000s;
}

input:focus {
  outline: none;
  border-color: var(--cream);
}

/*
input:autofill, input:-webkit-autofill::first-line {
  font-size: 20px;
  background-color: var(--cream-10) !important;
}
  */


input[readOnly] {
  cursor: default;
  pointer-events: none;
  background-color: var(--cream-10);
  /*text-align: left; */
}

::placeholder {
  color: var(--cream-50) !important;
  opacity: 1; /* Firefox */
}

footer {
  color: var(--cream-50);
}

a {
  text-decoration: underline;
}