@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Basis Grotesque Mono Pro';
  src: url('/font/Basis-Grotesque-Mono-Pro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Basis Grotesque Mono Pro';
  src: url('/font/Basis-Grotesque-Mono-Pro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
*/

@font-face {
  font-family: 'GT Alpina';
  src: url('/font/gt-alpina-condensed-thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Alpina';
  src: url('/font/gt-alpina-condensed-thin-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}


:root {
  --white: #ffffff;
  --black: #211D1C;
  --black-30: rgba(33,29,28, .3);
  --black-50: rgba(33,29,28, .5);
  --cream: #F5F3EF;
  --cream-70: rgba(245,243,239, .7);
  --red: #DB3300;
  --red-12: #F3DCD2;
  --red-30: rgba(219,51,0, .3);
  --red-80: rgba(219,51,0, .8);
  --yellow: #F4ED67;

  --primary-typeface: "GT Alpina", serif;
  --secondary-typeface: "Basis Grotesque Mono Pro", monospace;
  font-size: 16px;
}

@media (min-width: 1720px) {
   :root { font-size: 1vw; } 
}

::selection {
  background: var(--yellow);
}

.text-cream {
  color: var(--cream);
}

.text-red {
  color: var(--red);
}

.bg-cream {
  background-color: var(--cream);
}

.bg-red {
  background-color: var(--red);
}



.border-black {
  border-color: var(--black);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  height: 100%;
}

html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--black);
  background: var(--cream);
  font-size: 1rem;
  text-underline-offset: 24%;
  font-family: var(--secondary-typeface);
}



main {
 /* flex: 1; */
}
footer {
  /*flex: 0; */
  margin-top: auto;
}
  

button {
  height: 4.5rem;
  border-radius: 4.5rem;
  padding: 0 2.5rem;
  transition: all 100ms;
  font-weight: 400;
  display: block;
  width: 100%;
}

button:disabled, button[disabled] {
  color: var(--cream-70) !important;
}

button.primary {
  background-color: var(--red);
  color: var(--cream);
}

button.secondary {
  background-color: var(--red-12);
  color: var(--red);
}



button.icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 3.375rem;
  width: 3.375rem;
  transition: all 200ms;
 
  border-radius: 0.25rem;
}

button.location {
  background-color: var(--white);
  border: 0.0625rem solid var(--red);
}

@media (hover: hover) {
  button:hover {
    opacity: 1;
    border-radius: .5rem;
  }
  button.copy:hover {
    transform: scale(1.1);
  }
  a:hover {
    text-decoration: none;
  }
}

.display {
  font-size: 6rem;
  letter-spacing: -0.04em;
  color: var(--red);
}

h1, h2, h3 {
  font-family: var(--primary-typeface);
  font-weight: 300;
}

h1 {
  font-size: 3.2rem; /* 48 */
  letter-spacing: -.01em;
  line-height: 1.1;
}

h1.mono, h2.mono {
  font-family: var(--secondary-typeface);
}

h1.mono {
  font-size: 3rem; /* 48 */
  letter-spacing: -.06em;
}

h2 {
  font-size: 2.25rem; /* 36 */
  line-height: 1;
}

h2.mono {
  letter-spacing: -.04em;
  text-transform: uppercase;
  color: var(--red);
}

h3 {
  font-size: 1.5rem; /* 24 */
  line-height: 1.2;
}

p {
  line-height: 150%;
}



.error {
  color: var(--red-80);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

input {
  /*
  all: unset; */
  height: 4.5rem;
  /*
  border-radius: .5rem; */
  width: 100%;
  padding: 0 1.5rem;
  
  
  border-radius: 8px;
  background-color: var(--white);
  text-align: center;
  text-overflow: ellipsis;

}

input:disabled, input:-moz-user-disabled {
  cursor: not-allowed;
}

input:focus {
  outline: none;
  border: 0.0625rem solid var(--black-30);
}

::placeholder {
 color: var(--black-50) !important;
  opacity: 1; /* Firefox */
}

.intro {
  transition: all 300ms ease-in-out;
}

.intro.hide {
  margin-left: -200vw;
}

footer {
  /*
  color: var(--red-70); */
}

a {
  text-decoration: underline;
}


.red-underline {
  border-bottom: 0.0625rem solid var(--red-30);
}